# Python stuff
venv/
env/
__pycache__/
*.pyc
*.idea/

# R metadata.
.Rproj.user
.Rhistory
.RData
.Ruserdata
.RProfile
*.Rproj
packrat/lib*/

# Compiled CSVs
*.out.csv

# Geo files
geo_export_*
*.shp
*.shx
*.dbf
*.prj
*.sbn
*.sbx
*.qgz

# Mac stuff
.DS_Store

# Secrets!
secrets.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints
