[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
itsdangerous = "*"
nltk = "*"
oauthlib = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
textblob = "*"
tweepy = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
tmdbsimple = "*"
colorama = "*"
pymongo = "*"
typing = "*"
pyyaml = "*"
twine = "*"
wheel = "*"
setuptools = "*"
twitter-fire-scraper = "*"

[dev-packages]

[requires]
python_version = "2.7"
