# This Pipfile is for development requirements, NOT requirements to run the package.
#
# It also contains Jupyter to run the Jupyter notebook files.
#
# In other words, install this if you want to be a contributor and help program this package.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.0"
click = "*"
itsdangerous = "*"
nltk = "*"
oauthlib = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
textblob = "*"
tweepy = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
tmdbsimple = "*"
colorama = "*"
pymongo = "*"
typing = "*"
pyyaml = "*"
jupyter = "*"
notebook = "==5.7.5"
numpy = "*"
matplotlib = "*"
pandas = "*"
sklearn = "*"

# Only for Windows, fixes CSV not working.
pypiwin32 = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]
twine = "*"
wheel = "*"
setuptools = "*"
twisted = "*"

[requires]
python_version = "3"
