extends layout

block content
    h1= title
  
    section
        form(method="POST" action="/scrape" id="scrape")
            ul
                li
                    p
                        label(for="terms") Terms
                    p
                        textarea(type="text" name="terms" id="terms" form="scrape")
                li  
                    p
                        label(for="terms") Number of tweets
                    p
                        input(type="text" name="count")

            input(type="submit")

    if statusdict
        section(class="tweets")
            ul
                each statuses, term in statusdict
                    li
                        section(class="tweet-category")
                            h1= term
                            ul
                                each status in statuses
                                    li
                                        aside(class="tweet-author")
                                            p= "\'@"+status.user.name+"\' says..."

                                        p= status.text
    if !statusdict
        p No statuses to display.