# Compiled python bytecode cache
cache/ 
_trial_temp*/

# Python build artifacts
*.egg-info/
build/
dist/
.eggs/

# Temp folders
tmp/

# Ruby crust
mkmf.log

# EXE files
*.exe
*.msi

# Code coverage files.
.coverage
coverage.xml